{% extends "base.html" %}
<!-- {%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coep-Hostel</title>
    {%load static%}
    <link href="{% static 'style.css' %}" rel="stylesheet">
</head>
<body >
       <nav class = 'navBar'>
        <ul class="topnav" id="dropDownclick">
            <li><a href = "/">Home</a></li>
            <li><a href = "about">About</a></li>
            <li><a href = "services">Services</a></li>
            <li><a href = "contact">Contact</a></li>
            {%if user.is_authenticated%}
            <li class="topnav-right"><a href="logout">Logout</a></li>
            {%else%}
            <li class="topnav-right"><a href="login">Login</a></li>
            {%endif%}
           
            <li class="topnav-right"><a href="register">Sign In</a></li>
            <li class = "dropDownMenu"><a href="javascript:void(0);" onclick="dropDownMenu()">&#9776;</a></li>       
        </ul>
        <script>
            function dropDownMenu(){
                var x = document.getElementById("dropDownclick");
                if(x.className==="topnav"){
                    x.className += " responsive";
                    /*To change topnav to topnav.responsive*/ 
                }else{
                    x.className="topnav";
                }
            }
        </script>
    </nav>
    <div class="background" style = "text-align: center;
    font-size: 50px;    ">
        {%load static%}
        {%if user.is_authenticated%}
        <p class = "greetings" >Welcome {{user.username}}</p>
        {%else%}
        <p class = "greetings">Welcome to COEP HOSTEL!</p>
        {%endif%}

    </div>
    
    
    
</body>
</html> -->


{% block title %}
Home
{% endblock title %}

{% block body %}
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-danger" role="alert">
      <strong>{{ message }}</strong>
    </div>
    {% endfor %}
    {% endif %}
    {%if user.is_authenticated%}
    <h2><span class="badge badge-pill badge-info welcome"><b>Welcome {{ user.username}} !!</b></span></h2>
    {%endif%}
    <div class="cotainer checkbox">
        <div class="row">
            <div class="col-md-12 new-col">
                <a href="check.html"></a>
            
                <div class="col"></div>
                <a href="check" class="anchorbox">
                    <h2><span class="badge badge-pill badge-warning badge1">Check-out Request:</span></h2>
                    {% if checked_in %}
                        <p>The student is already checked in.</p>
                    {% else %}
                    {% endif %}
                    <form id="checkin-form" method="POST" action="">
                        {% csrf_token %}
                        <label for="student-name-checkin">Mis Number</label>
                        <input type="text" id="Misno" name="Misno" required><br>
                        <label for="checkin">OutGoing Time:</label>
                        <input type="text" id="OutGoingTime" name="OutGoingTime" required><br>
                        <label for="checkOut">Incoming Time:</label>
                        <input type="text" id="IncomingTime" name="IncomingTime" required><br>
                        <button type="submit" id="checkin-submit-btn">Submit</button>
                    </form>
                </a>
                <div class="col"></div>
           
            </div>
            
        </div>
    </div>
    
<div class="container">
    <div class="row">
        <div id="carouselExampleCaptions" class="carousel slide">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active my-4">
                    <img src="/static/img/hostel.jpg" class="d-block w-100" alt="..." height="700px">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>COEP HOSTEL</h5>
                        <p>GET OUR BEST SERVICES</p>
                    </div>
                </div>
                <div class="carousel-item active my-4">
                    <img src="/static/img/hostel2.jpeg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>COEP HOSTEL</h5>
                        <p>GET OUR BEST SERVICES</p>
                    </div>
                </div>
                <div class="carousel-item active my-4">
                    <img src="/static/img/hostel2.jpeg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>COEP HOSTEL</h5>
                        <p>GET OUR BEST SERVICES</p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>

<div class="container my-3">
    <h1 class="my-4 text-center">Trust us in finding the best for you.</h1>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
            <div class="card shadow-sm">
                <img src="/static/img/laundry.jpeg" alt="Thumbnail Image" style="width: 100%; ">
                <div class="card-body">
                    <p class="card-text">Say goodbye to long waits and tedious laundry checks. Our streamlined process ensures your laundry is efficiently managed without any delays.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">
                                <a class="dropdown-item" href="book_laundry">Laundry</a></li>
                            </button>
                        </div>
                        <small class="text-body-secondary"></small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <img src="/static/img/meal_icon.jpeg" alt="Thumbnail Image" style="width: 100%; ">
                <div class="card-body">
                    <p class="card-text"> Experience effortless meal organization  just check in and mark your meal presence at hostel mess. Bid farewell to tedious queues and rushed meal choices!</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">
                                <a class="dropdown-item" href="meal">Meal</a></li>
                            </button>
                        </div>
                        <small class="text-body-secondary"></small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <img src="/static/img/attendence.jpeg" alt="Thumbnail Image" style="width: 100%; ">
                <div class="card-body">
                    <p class="card-text">Register your attendance effortlessly with just a click, saving you from the hassle of manual tracking. No worries about missing attendance.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">
                                <a class="dropdown-item" href="check">Attendence</a></li>
                            </button>

                        </div>
                        <small class="text-body-secondary"></small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer-section">
    <div class="container">
        <div class="footer-content pt-5 pb-5">
            <div class="row">

                <div class="col-xl-3 col-lg-3 col-md-6 mb-30">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Useful Links</h3>
                        </div>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Our Services</a></li>
                            <li><a href="#">Expert Team</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-md-3 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-map-marker-alt"></i>
                        <div class="cta-text">
                            <h4>Find us</h4>
                            <span>1010 Avenue, sw 54321, chandigarh</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 mb-50">
                    <div class="footer-widget">
                        <div class="footer-social-icon">
                            <span>Follow us</span>
                            <li><a href="#">Coep Website Portal</a></li>
                            <a href="#"><i class="fab fa-facebook-f facebook-bg"></i></a>
                            <a href="#"><i class="fab fa-twitter twitter-bg"></i></a>
                            <a href="#"><i class="fab fa-google-plus-g google-bg"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-3 mb-30">
                    <div class="single-cta">
                        <i class="far fa-envelope-open"></i>
                        <div class="cta-text">
                            <h4>Mail us</h4>
                            <span>mail@info.com</span>
                        </div>
                    </div>
                </div>
                
                
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 text-center text-lg-left copyContent">
                    <div class="copyright-text">
                        <p>Copyright &copy; 2024, All Right Reserved <a href="#">AS</a></p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                    <div class="footer-menu">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Terms</a></li>
                            <li><a href="#">Privacy</a></li>
                            <li><a href="#">Policy</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
{% endblock body %}