<!DOCTYPE html>
<html lang="en">

<head>
    {%load static%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="{%static 'bootsrap/bootstrap-4.0.0-dist/css/bootstrap-grid.min.css'%}">
    <link rel="stylesheet" href="{%static 'bootsrap/bootstrap-4.0.0-dist/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{%static 'style_login.css'%}">
    
</head>

<body>
    <div class="home1">
        <a href="/" id="Homenav">Home</a>
    </div>
    <div class="container sign-in_container">
        <div class="row">
            <div class="col"></div>
            <div class="col-sm-12 col-md-8">
                <div class="card sign-in-card">
                    <div class="card-block">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQoPSHYfoASMsbeyzBDI-qdwqVUMTW9K8T8eYuYxMQrXxtV3JRjquOeizm90gSHYHQiPk&usqp=CAU" class="img-fluid sign-in-image">
                        {% for message in messages %}
                            <p class = 'messagealert' style="text-align: center;">{{ message }}</p>
                        {% endfor %}
                        <form class="sign-in_form" action="login" method="POST">
                          {%csrf_token%}
                            <div class="form-group">
                                <label for="username">Username:</label>
                                <input type="text" id="username" name="username" required>
                            </div>
                            <div class="form-group">
                                <label for="email">e-mail:</label>
                                    <input type="text" id="email" name="email" required>
                            </div>
                            <div class="form-group">
                                <label for="password">Password:</label>
                                <input type="password" id="password" name="password" required>
                            </div>
                            <div class="form-group">
                                <a href="register" type="text" >Doesn't have an account?Sign-Up</a>
                            </div>
                            <button type="submit" class="btn sign-in_button btn-lg">sign-in</button>
                          </form>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
    

</body>

</html>